@font-face {
    font-family: "TitilliumWeb";
    src: url(../../../assets/Font/TitilliumWeb-Regular.ttf) format("tff");
    font-weight: 400;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url(../../../assets/Font/TitilliumWeb-SemiBold.ttf) format("tff");
    font-weight: 600;
}