@use "./variables" as *;

@mixin tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }

}

@mixin logo{
    width: 8.037rem;
    height: 1.75rem;
}

@mixin flex-center ($direction){
    display: flex;
    flex-direction: ($direction);
}
@mixin reset-list{
    list-style: none;
    margin: 0;
}