@use "./variables" as *;

//added flex,mobile,mobile width mixins by mishal for warehouse tables

@mixin flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
  }
  
  @mixin mobile {
    @media (min-width: $mobile-width) {
      @content;
    }
  }
//end
@mixin tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }

}

@mixin logo{
    width: 8.037rem;
    height: 1.75rem;
}

@mixin flex-center ($direction){
    display: flex;
    flex-direction: ($direction);
}
@mixin reset-list{
    list-style: none;
    margin: 0;
}
@mixin label-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;

}
@mixin input-field {
    padding: 0.5rem;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid $slate;
}
@mixin dropdown {
    width: 100%;
    @include flex-center(row);
    justify-content: space-between;
    @include input-field;
    padding: 0.76rem;
}