//primary color
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$white: #ffffff;

//secondary color
$slate: #5c667e;
$cloud: #bdc5d5;

//backgound color
$graphite: #232940;
$light-grey: #f7f8f9;

//supporting color
$green: #158463;
$red: #c94525;

//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$mobile-width: 376px;
