//primary color
$instock-black: #13182C;
$instock-indigo: #2E66E5;
$white: #ffffff;

//secondary color
$slate: #5C667E;
$cloud: #BDC5D5;

//backgound color
$graphite: #232940;
$light-grey: #f7f8f9;

//supporting color
$green: #158463;
$red: #C94525;

//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;