  @use '../../styles/partials/variables' as *;
  @use '../../styles/partials/mixins' as *;
  
  
  .inventory-details {

        &__container-i {

            justify-content: space-between;
            padding: 1.5rem 0;
            border-bottom: 1px solid $cloud;
            column-count: 2;

            &:hover {
                @include desktop {
                    background-color: transparentize($instock-indigo, 0.93);
                }
                
            }


            @include tablet {
                justify-content: space-between;
                padding-bottom: 0;
                padding: 1rem 0;
                flex-basis: auto;
                width: 100%;
                display: flex;
            }

            }

        &__icons-i {
            display: flex;
            margin-top: 2rem;
            gap: 1rem;
            padding-right: 1.5rem;

            @include tablet {
                margin-top: 0;
                gap: 0;
            }
        }

  }