@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.wh-edit__container {
  margin: 0 1rem;
  height: 100%;
  position: relative;
  top: -1.5rem;
  @include tablet {
    top: -5rem;
    margin: 0 2rem;
  }
  @include desktop {
    margin: 0 5rem;
  }

  .wh-edit__card {
    @include flex-center(column);
    width: 100%;
    border-radius: 3px;
    background-color: $white;

    .warehouse-edit__header-link {
      width: 100%;
      height: 5rem;
      text-decoration: none;
      color: inherit;
      @include flex-center(row-reverse);
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $cloud;
      border-radius: inherit;
      @include tablet {
        justify-content: flex-end;
        padding-left: 2rem;
      }

      &__header-text {
        padding: 0.5rem;
      }
      &__icon {
        height: 1.5rem;
      }
    }
  }
}
