@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.footer{
    width: 100%;
    background-color: $white;
    padding: 1rem;
   

    &-copyryt-text__box{
        width: 100%;
        @include flex-center(row);
         margin: 0 auto;
         padding: 0;
         padding-top: 2rem;
         justify-content: center;
      
    }
    &__copyryt-p3{
        color: $slate;
    }
    &__text-p3{
        @extend .footer__copyryt-p3;
    }
    
}