@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


.footer{
    width: 100%;
    background-color: $white;
    padding: 1rem;
   

    &-copyryt-text__box{
        width: 50%;
        @include flex-center(row);
         margin: 0 auto;
         padding: 0;
        align-items: center;
        text-align: center;
    }
    
}