@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.wh-new__form {
  background-color: $light-grey;
  @include tablet {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
}

.test {
  padding: 1rem 0;
  background-color: $white;
  @include tablet {
    display: flex;
  }
}
.wh-new__form-container {
  width: 100%;
  @include flex-center(column);
  border-bottom: 1px solid $cloud;
  padding: 1rem 2rem;
  @include tablet {
    border-bottom: none;
    border-right: 1px solid $cloud;
    width: 50%;
  }
}

.wh-new__contactform-container {
  width: 100%;
  @include flex-center(column);
  padding: 1rem 2rem;
  @include tablet {
    border-bottom: none;
    width: 50%;
  }
}

.wh-new__details-header {
  color: $instock-black;
  padding: 1rem 0 0.5rem 0;
}

.wh-new__form-label {
  color: $instock-black;
  padding-bottom: 0.25rem;
}

.wh-new__formfield {
  height: 2.25rem;
  padding: 1rem;
  border-radius: 1.25rem;
  border: 1px solid $cloud;
  color: $instock-black;
  @include tablet {
    height: 2.375rem;
  }
  &:focus {
    color: $instock-black;
    border: 1px solid $instock-indigo;
    outline: none;
  }
}
.wh-new__cta {
  background-color: $light-grey;
  display: flex;
  align-items: center;
  //   padding: 1rem;
  border-radius: inherit;
  @include tablet {
    padding: 2rem;
    margin-left: auto;
  }
}

.wh-new__button-reset {
  height: 2.25rem;
  margin: 0.5rem;
  background-color: $white;
  border: 1px solid $cloud;
  border-radius: 20px;
  width: 80%;
  color: $slate;
  @include tablet {
    height: 2.375rem;
    padding: 0rem 1rem;
  }
  &:hover {
    border: 1px solid $instock-indigo;
    color: $instock-indigo;
  }
}

.wh-new__button-save {
  height: 2.5rem;
  margin: 0.5rem;
  background-color: $instock-indigo;
  border: 1px solid $cloud;
  border-radius: 20px;
  width: 80%;
  color: $white;
  @include tablet {
    height: 2.5rem;
    width: 100%;
    padding: 0rem 2rem;
    min-width: max-content;
  }
  &:hover {
    background-color: $graphite;
  }
}

.wh-new__button-text {
  flex-wrap: nowrap;
}
