@use "../../styles/partials/_variables" as *;
@use "../../styles/partials/_mixins" as *;


body {
  background-color: $light-grey;
}


.warehouses-main-wrapper {
position: relative;
}


.warehouses-wrapper {
  padding: $padding-m;
  margin: 0 1rem;
          height: 100%;
          position: relative;
          top: -3.7rem;
        
          @include tablet {
            top: -6.5rem;
            margin: 0 2rem;
          }
        
          @include desktop {
            margin: 0 5rem;
          }
  


 

  .warehouses {
    /* Desktop/Tablet Header Section */
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    
      padding-bottom: 50px;
      padding-top: 50px;
      background-color: $light-grey;
      padding-right: 50px;
      padding-left: 50px;
      

      .warehouses__title {
        font-size: 1.8rem;
        color: $instock-black;
      }

      .warehouses__actions {
        display: flex;
        gap: $padding-s;

        .warehouses__search {
          padding: $padding-xxs;
          border: 1px solid $cloud;
          border-radius: $padding-xs;
          font-size: 1rem;
          flex: 1;

          &::placeholder {
            color: $slate;
          }
        }

        .warehouses__add-button {
          padding: $padding-xxs $padding-xs;
          background-color: $instock-indigo;
          color: $white;
          border: none;
          border-radius: $padding-xs;
          cursor: pointer;
          text-align: center;
          transition: background-color 0.2s;

          &:hover {
            background-color: $instock-indigo;
          }
        }
      }
    }

    /* Mobile Header Section */
    &__header-mobile {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 0px;
      padding: $padding-m;
      border: 1px solid $cloud;
      border-radius: 0px 2px;
      background-color: $white;
      box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);



      .warehouses__title {
        font-size: 1.6rem;
        color: $instock-black;
        text-align: center;
      }

      .warehouses__actions {
        display: flex;
        flex-direction: column;
        gap: $padding-xs;
        width: 100%;

        .warehouses__search {
          padding: $padding-xxs;
          border: 1px solid $cloud;
          border-radius: $padding-xs;
          font-size: 1rem;
          width: 100%;

          &::placeholder {
            color: $slate;
          }
        }

        .warehouses__add-button {
          padding: $padding-xxs $padding-xs;
          background-color: $instock-indigo;
          color: $white;
          border: none;
          border-radius: $padding-xs;
          cursor: pointer;
          text-align: center;

          &:hover {
            background-color: $instock-indigo;
          }
        }
      }
    }

    /* Mobile Layout */
    &__mobile {
      display: none;
      flex-direction: column;
      gap: 0;

      &-card {
        padding: $padding-m;
        border: 1px $cloud;
        border-radius: 0;;
        background-color: $white;
        box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
        border: 1px solid $cloud;
        


        .mobile-card-section {
          margin-bottom: $padding-xs;

          &:last-child {
            margin-bottom: 0;
          }

          .mobile-card-title {
            font-size: 0.9rem;
            font-weight: bold;
            color: $slate;
            text-transform: uppercase;
            margin-bottom: $padding-xxs;
            
            
          }

          .warehouses__mobile-card{
            background-color: $white;
            box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);

          };


          .mobile-card-details {
            display: flex;
            align-items: center;
            

            .warehouses__link {
              color: $instock-indigo;
              text-decoration: none;
              font-weight: bold;
            }

            .warehouses__chevron {
              width: 16px;
              height: 16px;
              margin-right: 0
             
            }
          }
        }

        .mobile-card-actions {
          display: flex;
          gap: 0;

          .warehouse__icon {
            cursor: pointer;
            width: 20px;
            height: 20px;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    /* Desktop Layout */
    &__table {
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          th {
            position: relative;
            text-align: left;
            padding: $padding-xxs;
            border-bottom: 1px solid $cloud;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $slate;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }

            .warehouses__icon {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 15px;
              height: 15px;
              transition: transform 0.2s ease;

              &.ascending {
                transform: translateY(-50%) rotate(90deg);
              }
            }
          }
        }
      }

      tbody {
        tr {
          td {
            padding: $padding-xxs;
            text-align: left;
            border-bottom: 1px solid $cloud;

            .warehouses__details {
              display: flex;
              align-items: center;

              

              .warehouses__link {
                font-weight: 600;
                font-size: 14px;
                color: $instock-indigo;
                text-decoration: none;
                width: 67px;
                height: 22px;
                


                &:hover {
                  text-decoration: underline;
                }
                
              }

              .warehouses__chevron {
                width: 20px;
                height: 20px;
              box-sizing: border-box;
                
              }
            }
          }

          &:hover {
            background-color: $cloud, 10%;
          }

          .warehouse__icon {
            cursor: pointer;
            transition: transform 0.2s;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  /* Responsive Styles */
  @media (max-width: $breakpoint-tablet) {
    .warehouses {
      &__header {
        display: none;
      }

      &__header-mobile {
        display: flex;
      }

      &__mobile {
        display: flex;
      }

      &__table {
        display: none;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .warehouses {
      &__header {
        display: flex;
      }

      &__header-mobile {
        display: none;
      }

      &__mobile {
        display: none;
      }

      &__table {
        display: table;
      }
    }
  }
}


