@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.inventory-details {
    padding: 0 1.5rem;
    background-color: $white;

    @include tablet{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__container {
        
        justify-content: space-between;
        padding: 1.5rem 0;
        border-bottom: 1px solid $cloud;
        column-count: 2;
        
    
            @include tablet {
                justify-content: space-between;
                padding-bottom: 0;
                padding: 1rem 0;
                flex-basis: auto;
                width: 100%;
                display: flex;
            }
    }


        &__left {
            flex-grow: 1;
            flex-basis: 1;

            @include tablet {
                }

        }

        &__right {
            flex-grow: 2;
            flex-basis: 1;

            @include tablet {
                display: flex;
                flex-grow: 1;
            }
        }
    
    &__click-item {
        display: flex;
        align-items: center;
        color: $instock-indigo;

        @include tablet {
            padding-left: 1.5rem;
        }
    }

    &__click-item-value {
        padding-bottom: 2rem;
        @include tablet {
            padding-bottom: 0;
        }
    }

    &__items {
        color: $slate;
        padding-top: 1.5rem;
        width: 50%;
        
        

        @include tablet {
            display: none;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.5rem;

        @include tablet {
            padding-right: 1.5rem;
            display: flex;
            padding-bottom: 0;
            align-items: center;
        }
    }


    &__status {
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.40rem;
        width: 6rem;
        text-transform: uppercase;

        &.in-stock {
            color: $green;
            background-color: $green-with-opacity
        }

        &.out-of-stock {
            color: $red;
            background-color: $red-with-opacity;
        }

        @include tablet {
            width: 7rem;
            
        }
    }

    &__quantity-value {

        @include tablet {
            display: flex;
        }
    }


    &__hidden {

        display: none;

        @include tablet {
            display: flex;
            background-color: $light-grey;
            color: $slate;
            padding: 1rem 1.5rem ;
            justify-content: space-between;
            align-items: center;
        }

        
    }

    &__hidden-icon {
        display: flex;
        align-items: center;
        flex: 25%;
    }

    &__hidden-icon--status {
        display: flex;
        align-items: center;
        flex: 25%;
    }

    .column {
    width: 25%;
    }

    a {
        text-decoration: none;
    }

    .NavLink {
        display: flex;
    }

    button {
        border: none;
        background-color: white;
        cursor: pointer;
    }

}

