@use "../../styles/partials/variables" as *;
@use "../../styles//partials//mixins" as *;

.warehouses-container {
  width: 100%;
  display: flex;
  position: relative;
  top: -5rem;
}

.warehouses {
  width: 100%;
  background-color: $white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 1rem;
}

.warehouse-header {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
  text-align: start;
  border-radius: 5px 5px 0 0;
  &__title {
    color: $instock-black;
    font-size: $header-ts-mobile;
    margin: 0;
    margin-bottom: 1.2rem;
  }
}

.header-interactive {
  &__search {
    box-sizing: border-box;
    background-image: url(../../assets/icons/search-24px.svg);
    background-repeat: no-repeat;
    background-position: center right 1rem;
    background-size: 20px;
    width: 100%;
    border: 0.5px solid #bdc5d5;
    margin-bottom: 1rem;
  }

  &__add {
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

.warehouse-list {
  display: none;
  font-size: $table-header-ts-mobile;
  background-color: $light-grey;
}
.warehouse-list p {
  color: $slate;
}

@include tablet {
  .warehouses {
    margin: 0 2rem;
  }
  .warehouse-header {
    flex-direction: row;
    border: none;
    padding: 1.5rem;
    &__title {
      margin: 0;
      width: 30%;
      font-size: $header-text-size;
    }
  }

  .header-interactive {
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    &__search {
      width: 47%;
      margin: 0;
      margin-right: 1rem;
    }

    &__add {
      width: 43%;
    }
  }
  .warehouse-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 11px 24px 11px 24px;
    box-sizing: border-box;
    font-size: 0.75rem;
    &__last {
      text-align: end;
      justify-content: end;
      display: flex;
    }
  }
}
.item-container {
  display: flex;
  align-items: center;
  width: 20%;
  &__icon {
    width: 15px;
  }
}

.item-container-actions {
  width: 10%;
  display: flex;
  justify-content: center;
}
.item-container-contact {
  width: 22%;
}

@include desktop {
  .warehouses {
    margin: 0 8.125rem;
  }
  .warehouse-header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .item-container-actions {
    width: 6.5%;
  }
  .header-interactive {
    &__search {
      width: 55%;
    }

    &__add {
      width: 32%;
    }
  }

  .warehouse-list {
    padding: 0.688rem 3rem 0.688rem 3rem;

    &__last {
      text-align: end;
      justify-content: end;
      display: flex;
    }
  }
}
