  @use '../../styles/partials/variables' as *;
  @use '../../styles/partials/mixins' as *;
  
  
  .inventory-details {
        padding: 0;

        &__container-i {

            justify-content: space-between;
            padding: 1.5rem 0;
            border-bottom: 1px solid $cloud;
            column-count: 2;

            &:hover {
                @include desktop {
                    background-color: transparentize($instock-indigo, 0.93);
                }
                
            }


            @include tablet {
                justify-content: space-between;
                padding-bottom: 0;
                padding: 1rem 0;
                flex-basis: auto;
                width: 100%;
                display: flex;
            }

            }

            &__icons-i {
            display: flex;
            margin-top: 2rem;
            gap: 1rem;
            padding-right: 1.5rem;

            @include tablet {
                margin-top: 0;
                gap: 1rem;
            }
        }

        
  }


  .mobile {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $cloud;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    @include tablet {
        display: none;
    }
  }

  .test-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .another-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .tablet {
    display: none;
    @include tablet {
        display: contents;
    }
  }

  .inventory-details__mobile {
    display: flex;
  }
  .icons-wrapper {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .item_label {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    color: $slate;
  }

  .item_value {
    height: 1.5rem;
  }
